
<!-- CSS only 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<div class="card-header d-flex justify-content-between align-items-center">
<%= csrf_meta_tag %>
  <h1>Cotizaciones recibidas de los proveedores</h1>   
</div>
<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>proveedor</th>
      <th>Descuento por pago en efectivo (%)</th>
      <th>Descuento por pronto pago (%)</th>
      <th>Descuento por volumen de venta (%)</th>
      <th>Descuento por forma de pago (%)</th>
      <th>Pago por envases y embalage ($)</th>
      <th>Pago de transporte ($)</th>
      <th>recargo por aplazamiento de pago ($)</th>
      <th>fecha de entrega</th>
      <th>Total</th>

      <th>Acciones disponibles</th>
    </tr>
  </thead>
   <tbody>
   
    <% @array.each do |l| %>
        
        <tr>
          <td>
            <%=  l[10] %>
          </td>
          <td>
            <%=  l[1] %>
          </td>
          <td>
            <%=  l[2] %>
          </td>
          <td>
            <%=  l[3] %>
          </td>
          <td>
            <%=  l[4] %>
          </td>
          <td>
            <%=  l[5] %>
          </td>
          <td>
            <%=  l[6] %>
          </td>
        <td>
            <%=  l[7] %>
          </td>
          <td>
            <%=  l[8] %>
          </td>
          <td>
            <%=  l[9] %>
          </td>


          <td>
         <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group">
              
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%=  l[11] %>">
                Ver detalles
              </button>
              
            
              </div>
              </div>    
        </td>     
      </tr>
        
     
    <%end %>
      
  </tbody>
</table>


<!-- Button trigger modal -->

<% @cotizaciones.each do |c| %>
<!-- Modal -->
  <div class="modal fade" id="exampleModal<%= c.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles de la cotizacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-responsive table-bordered" id="detalles_cotizacion">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Propuesto</th>
              <th>SubTotal</th>
            </tr>
          </thead>
          <tbody>
       <% @detallesCotizaciones.each do |linea| %>
          <% if linea.cotizacion_id == c.id %>
          <% @detallesRequesicion.each do |d| %>
          <% if linea.linea_requesicion_id == d.id %>
         <tr>
          <td>
          <% @pros.each do |producto| %>
          <% if d.producto_id == producto.id %>
          <p class="nombrepro"><%=  producto.nombre + " "+ producto.presentacion.to_s %></p>
          <% end %>
          
           <% end %> 
          </td>
          <td>
            <p class="cantidad"><%=  d.cantidad %></p>
          </td>
          <td>
            <p class="precio"><%=  linea.precio_unitario %></p>
          </td>
          
          <td>
          <p class="subtotal"><%=  linea.subtotal %></p>
          
          </td> 
      </tr>
      <% end %> 
      <% end %>
      <% end %>
      <% end %>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="aprobar('<%= c.id %>')">Aprobar y Enviar orden de compra</button>
      </div>
    </div>
  </div>
  </div>
<% end %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type = "text/javascript">
function aprobar(cotizacion){
  
  var id_cotizacion=cotizacion;
  let info={id: id_cotizacion}
  let ajaxurl=getRootUrl()+'/aprobar_cotizacion/'; //se agrega la ruta en routes.rb
   $.ajax({ 
        url: ajaxurl, 
        type: 'POST',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: info,
        success: function (result) { 
              if(result!=null){
                console.log(result.mensaje);
                window.location=getRootUrl()+"/cotizaciones"
                
              }
              
              }
          }); 


}


function getRootUrl() {
    return window.location.origin;
}

</script>
