

<div class="card mt-s">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="text text-secondary">Cotizar</h3>
    <h3 id="requesicion" type="hidden"><%=  @reque.id %></h3>
  </div>

<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>id producto</th>
      <th>cantidad</th>
      <th>Nombre</th>
      <th>Precio Unitario Propuesto</th>
      <th>SubTotal</th>
    </tr>
  </thead>
  <tbody>
    <% @lineas.each do |linea| %>
      <tr>
          <td>
            <p class="linea"><%=  linea.id %></p>
          </td>
          <td>
            <p class="cantidad"><%=  linea.cantidad %></p>
          </td>
          <td>
          <% @pros.each do |producto| %>
          <% if linea.producto_id == producto.id %>
          <p class="nombrepro"><%=  producto.nombre + " "+ producto.presentacion.to_s %></p>
          <% end %>
          
           <% end %> 
          </td>
          <td>
            <input type="number" class="valor" min="0"  value="0" onchange="calcular('valor','cantidad','subtotal')">
          </td>
          
          <td>
            
              
          <input type="number" class="subtotal" disabled>
              
          </td>

        
      </tr>
    <% end %>    
  </tbody>
</table>
<div class="card mt-s">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="text text-secondary">Nueva Cotizacion</h3>
  

</div>

<div class="container ">

<div class="card-body ">
    <form class="new_cotizacion" id="new_cotizacion" action="/cotizacions" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="vTbJGddAKMvxYYueqLEe43AvsbH9LX8Qc7TpNSz1NEaiLZO81uMkB2U7IVuuQmIBNMoFVgjd63KcxD7vPZ8NhA" autocomplete="off" />
    <%= csrf_meta_tag %>
      
      
      <div class="form-group row"> 
       
        <input class="form-control" value="<%= @proveedor[0].id %>" autocomplete="off" type="hidden" name="cotizacion[proveedor]" id="cotizacion_proveedor" />
        
        <div class="col-sm-4">
         
        </div>
        
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_descuento_efectivo">Descuento efectivo</label>
        <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" max="1" type="number" name="cotizacion[descuento_efectivo]" id="cotizacion_descuento_efectivo" />
        </div>
        
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_descuento_pronto_pago">Descuento pronto pago</label>
        <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" max="1" type="number" name="cotizacion[descuento_pronto_pago]" id="cotizacion_descuento_pronto_pago" />
        </div>
        
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_descuento_volumen">Descuento volumen</label>
        <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" max="1" type="number" name="cotizacion[descuento_volumen]" id="cotizacion_descuento_volumen" />
        </div>
        
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_descuento_forma_pago">Descuento forma pago</label>
          <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" max="1" type="number" name="cotizacion[descuento_forma_pago]" id="cotizacion_descuento_forma_pago" />
        </div>
          
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_envases_embalage">Envases embalage</label>
          <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" type="number" name="cotizacion[envases_embalage]" id="cotizacion_envases_embalage" />
        </div>
        
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_pago_transporte">Pago transporte</label>
          <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" type="number" name="cotizacion[pago_transporte]" id="cotizacion_pago_transporte" />
        </div>
        
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_recargo_aplazamiento">Recargo aplazamiento</label>
        <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" max="1" type="number" name="cotizacion[recargo_aplazamiento]" id="cotizacion_recargo_aplazamiento" />
        </div>
        
      </div>
    
      <div class="form-group row">
      
          <div class="col-sm-4">
          <input class="form-control" value="Pendiente" autocomplete="off" type="hidden" name="cotizacion[estado]" id="cotizacion_estado" />
        </div>
        
      </div>
    
      <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_fecha_entrega">Fecha entrega</label>
        <div class="col-sm-4">
          <input class="form-control" required="required" type="date" name="cotizacion[fecha_entrega]" id="cotizacion_fecha_entrega" />
        </div>

         <div class="form-group row">
        <label class="col-sm-4" style="display: block" for="cotizacion_total">Total</label>
        <div class="col-sm-4">
          <input class="form-control" step="0.01" min="0" disabled="disabled" type="number" name="cotizacion[total]" id="cotizacion_total" />
        </div>
        
      </div>
        
      </div>
        <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group">
              
              <input type="button" value="Calcular total" name="button" class='btn btn-primary' onclick="total('subtotal')">
              
              
                          
              </div>
        </div>
   <input type="button" name="commit" onclick="guardarCotizacion()" value="Crear Cotizacion"  disabled id="guardar" class='btn btn-primary'/>
     

</form>  </div>



</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"> </script>
 <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
 <script type = "text/javascript">
        function calcular(valor,cant,sub){

          var txtPrecio=document.getElementsByClassName(valor);
          var txtCantidad=document.getElementsByClassName(cant);
          var lblSubtotal=document.getElementsByClassName(sub);
         
 
          for(var i=0; i<txtCantidad.length;i++){
            var valores= Number(txtPrecio[i].value);
            console.log( valores + " "+ typeof valores);
            
            var cantidad=Number(txtCantidad[i].innerHTML);
            console.log( cantidad + " "+ typeof cantidad)
            let res=Number(valores*cantidad);
            console.log( res + " "+ typeof res)
            lblSubtotal[i].value=res;
            
          }
          


          }
         

 function total(subt){

          var nullos=0;
          var nulosSubtotales=0;
          var txtboxes=document.getElementsByClassName('form-control');
            var txtTotal=document.getElementById("cotizacion_total");
            var lbSubtotal=document.getElementsByClassName(subt);
            var total=0;

          for(var i=0; i<lbSubtotal.length;i++){
            
            if(lbSubtotal[i].value==""){
              nulosSubtotales++;
            }
            console.log(nulosSubtotales);
          }

          for(var i=0; i<txtboxes.length;i++){
            
            if(txtboxes[i].value==""){
              nullos++;
            }
            console.log(nullos);
          }
          if (nullos>2 || nulosSubtotales!=0){
              console.log(nullos);
              alert("No debe dejar campos en blanco");
          }else{

            for(var j=0; j<lbSubtotal.length ; j++){
              total+=Number(lbSubtotal[j].value);
            
              
            }
            
            txtTotal.value=total;
            document.getElementById("guardar").disabled=false;
            
          }


            
           
      }

function guardarCotizacion() { 
  let proveedor_id=document.getElementById('cotizacion_proveedor').value;
  let descuento_efectivo=document.getElementById('cotizacion_descuento_efectivo').value;
  let descuento_pronto_pago=document.getElementById('cotizacion_descuento_pronto_pago').value;
  let descuento_volumen=document.getElementById('cotizacion_descuento_volumen').value;
  let descuento_forma_pago=document.getElementById('cotizacion_descuento_forma_pago').value;
  let envases_embalage=document.getElementById('cotizacion_envases_embalage').value;
  let pago_transporte=document.getElementById('cotizacion_pago_transporte').value;
  let recargo_aplazamiento=document.getElementById('cotizacion_recargo_aplazamiento').value;
  let estado=document.getElementById('cotizacion_estado').value;
  let fecha_entrega=document.getElementById('cotizacion_fecha_entrega').value;
  let total=document.getElementById('cotizacion_total').value;
  let reque=document.getElementById('requesicion').innerHTML;

  let ajaxurl=getRootUrl()+'/guardar_cotizacion/'+reque; //se agrega la ruta en routes.rb
  let info={ proveedorid: proveedor_id, descuentoefectivo: descuento_efectivo,
             descuentoprontopago: descuento_pronto_pago, descuentovolumen: descuento_volumen,
             descuentoformapago: descuento_forma_pago, envasesembalage: envases_embalage,
             pagotransporte: pago_transporte, recargoaplazamiento: recargo_aplazamiento, estado1: estado,
             fechaentrega: fecha_entrega, total1: total, id: reque
           }
   $.ajax({ 
        url: ajaxurl, 
        type: 'POST',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: info,
        success: function (result) { 
              if(result!=null){
                console.log(result.mensaje);
                guardarDetalles();
              }
              
              }
          }); 
       
       
  }
 
function getRootUrl() {
    return window.location.origin;
}

 function guardarDetalles(){
          var txtPrecios=document.getElementsByClassName('valor');
          var txtids=document.getElementsByClassName('linea');
          var txtSubtotales=document.getElementsByClassName('subtotal');
          let ajaxurl=getRootUrl()+'/guardar_linea_cotizacion/'; //se agrega la ruta en routes.rb
          
          for (var i =0; i< txtids.length; i++){
              let inf={id: txtids[i].innerHTML, preci: txtPrecios[i].value, sub: txtSubtotales[i].value}
                  $.ajax({ 
                          url: ajaxurl, 
                          type: 'POST',
                          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                          data: inf,
                  success: function (result) { 
                          if(result!=null){
                            console.log(result);
                            
                            final(i-1, txtids.length-1); 
                            
                          }

                        }
                    }); 


          }


  }
  function final(j, fin)
  {console.log("final " + j + " "+ fin);
    if(j == fin){
    
    window.location=getRootUrl()+"/cotizaciones_proveedor";
  }
  }


</script>  
