<div id="<%= dom_id proveedor %>">

    <div class="card mt-s">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="text text-secondary text-center "><%=proveedor.compania%></h2>
        <%= image_tag proveedor.logo , :size => "260x180" %></td>
    </div>
    
  
  <table class=" table table-responsive table-bordered">

    <tr>
      <th>Usuario</th>
      <td><%=usuario.nombre%></td>
    </tr>
    
    <tr>
      <th>Representante legal</th>
      <td><%=proveedor.representante_legal%></td>
    </tr>
    <tr>
      <th>Tipo de producto que ofrece </th>
      <td><%=tipoProducto.nombre%></td>
    </tr>
    <tr>
      <th> Direccion </th>
      <td><%=proveedor.direccion%></td>
    </tr>
    <tr>
      <th>Telefono </th>
      <td><%=proveedor.telefono%></td>
    </tr>
    <tr>
      <th>Fax</th>
      <td><%=proveedor.fax%></td>
    </tr>
    <tr>
      <th>Celular de contacto</th>
      <td><%=proveedor.celular%></td>
    </tr>
    <tr>
      <th>Nombre de contacto</th>
      <td><%=proveedor.nombre_contacto%></td>
    </tr>
    <tr>
      <th>Web site</th>
      <td><%=proveedor.web_site%></td>
    </tr>
    <tr>
      <th>NRC</th>
      <td><%=proveedor.nrc%></td>
    </tr>
    <tr>
      <th>Años proveedor</th>
      <td><%=proveedor.anios%></td>
    </tr>
    <tr>
      <th>Rubro proveedor</th>
      <td><%=proveedor.rubro%></td>
    </tr>
    
    <tr>
      <th>Escritura constitucional</th>
      <td>
        <%= link_to "Escritura constitucional",  proveedor.escritura, download: 'Escritura constitucional'  %>

      </td>
    </tr>

    <% proveedor.ubicacions.each.with_index do |ubicacion,index|%>
    <tr>
      <th><%=index +1%>º Sucursal </th>
      <td>
            <address>
              <strong><%= ubicacion.nombre %></strong>    
              <br>
              <%= ubicacion.direccion %>
            </address>

      </td>
        
    </tr>
    <tr>
      <th>Local de <%=index +1%>º sucursal </th>
      <td>  
          <%= image_tag ubicacion.local,:size => "260x180" %>  
      </td>
    </tr>
    <tr>
      <th>Ubicacion de <%=index +1%>º sucursal </th>
      <td>  
          <%= image_tag ubicacion.mapa ,:size => "260x180"%>  
      </td>
    </tr>
    <% end %>

    <!--BLOQUE DE REFERENCIAS-->
    <% lista=buscarReferencias(proveedor.id) %>
    
    
    <% lista.each.with_index do |referencia,index|%>
      <tr>
      <th>Referencia numero <%=index +1%></th>
        <td>
              Entidad : <%=referencia.nombre_entidad %> <br>
              Contacto : <%=referencia.nombre_contacto %><br>
              Telefono : <%=referencia.telefono_contacto %>
        </td>
          
      </tr>
      
      <% end %>
    
    <!--FIN DE BLOQUE DE REFERENCIAS-->

    <!--BLOQUE DE DIVISIONES-->
    <% lista2=buscarDivisiones(proveedor.id) %>

    <tr>
    <th>Division Administrativa</th>
    <td></td>
    </tr>
    
    <% lista2.each.with_index do |division,index|%>
      <tr>
        <th></th>
        <td>
              Nombre del empleado : <%=division.nombre_empleado %> <br>
              Puesto : <%= buscarCargo(division.cargo_id)%><br>
              
        </td>
          
      </tr>
      
      <% end %>
    
    <!--FIN DE BLOQUE DE DIVISIONES-->

  </table>

</div>

