<div class="container">
  <%= form_with(model: requesicion) do |form| %>
    <% if requesicion.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(requesicion.errors.count, "error") %> prohibited this requisicion from being saved:</h2>

        <ul>
          <% requesicion.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <label for="requesicion_prioridad:">Prioridad:</label>
            <select name="requesicion[prioridad]" data-model="<%= @requesicion.id %>" id="requesicion_prioridad" onchange="update(event)">
              <option value="Baja">Baja</option>
              <option selected="selected" value="Media">Media</option>
              <option value="Alta">Alta</option>
            </select>
          </div>
          <label for="requesicion_Fecha de entrega:">Fecha de entrega:</label>
          <input class="form-control" data-model="<%= @requesicion.id %>" onchange="update(event)" type="date" name="requesicion[fecha_entrega]" id="requesicion_fecha_entrega"/>
        </div>

        <div>
          
        </div>

        <br>

        <div class="table-responsive">
          <table class="table table-bordered" id="tabla-requesicion" width="90%" cellspacing="0">
            <colgroup>
              <col span="1" style="width: 80%;">
              <col span="1" style="width: 20%;">
            </colgroup>
            <thead>
              <th>
                Producto
              </th>
              <th>Cantidad</th>
            </thead>
            <tbody>
            <% if @productos_requesicion.empty? %>
              <tr>
                <td colspan="2">No hay productos registrados</td>
              </tr>
            <% else %>
              <% @productos_requesicion.each do |linreq| %>
                <tr>
                  <td><%= linreq.producto.try(:nombre) %></td>
                  <td><%= linreq.cantidad %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group d-flex justify-content-between align-items-center">
          <label for="buscador">Nombre de producto:</label>
          <input type="text" class="form-control" data-model="<%= @requesicion.id %>" id="buscador_productos" placeholder="Ingrese producto...">
          <button type="button" onclick="cleared();" class="btn btn-danger">X</button>
        </div>
        <div class="form-group d-flex justify-content-between align-items-center">
          <label for="buscador">Cantidad:</label>
          <input type="number" class="form-control" id="cantidad_producto" style="width:200px;" placeholder="Cantidad a solicitar..." value="1" min="0.01" step="0.01">
        </div>
        <div style="overflow:hidden; overflow-y: scroll; height: 500px;">
          <table class="table table-responsive" id="tabla_buscador">
            <colgroup>
              <col span="1" style="width: 70%;">
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 15%;">
            </colgroup>
            <thead style="top: 0; z-index: 2; position: sticky;">
              <th>Producto</th>
              <th>Existencia</th>
              <th>Agregar</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $("#tabla_buscador tbody").empty();
      $("#tabla_buscador tbody").append("<tr><td colspan='3'>Ingrese el nombre de producto a buscar...</td></tr>");
      $("#buscador_productos").on('input keyup paste', throttle(function() {
        let criterio = $("#buscador_productos").val();
        let requeid = $("#buscador_productos").data("model");
        if (criterio.length > 0) {
          $("#tabla_buscador tbody").empty();
          $("#tabla_buscador tbody").append("<tr><td colspan='3'>Buscando "+criterio+"...</td></tr>");
          request_url = window.location.origin + "/buscador_productos/" + criterio;
          $.get(request_url, function(data, status){
            console.log(data.length);
            if (data.length > 0) {
              $("#tabla_buscador tbody").empty();
              for (x in data) {
                let nombre_producto = data[x].nombre;
                let existencia = data[x].existencia;
                let idproducto = data[x].id;
                nuevaFila = "<tr><td>"+nombre_producto+"</td><td>"+existencia+"</td>"+
                          '<td><button type="button" class="btn btn-primary" onclick="seleccionarProducto('+idproducto+','+requeid+')">+</button></td></tr>';
                $("#tabla_buscador tbody").append(nuevaFila);
              }
            } else {
              $("#tabla_buscador tbody").empty();
              $("#tabla_buscador tbody").append("<tr><td colspan='3'>No hay productos de nombre '"+criterio+"' registrados.</td></tr>");
            }
          });
        } else {
          $("#tabla_buscador tbody").empty();
          $("#tabla_buscador tbody").append("<tr><td colspan='3'>¿Qué producto quiere buscar?</td></tr>");
        }
      }, 1000));

      function seleccionarProducto(idproducto, id){
        let cantidad_i = $("#cantidad_producto").val();
        let request_url = window.location.origin + "/agregar_producto_requesicion/";
        info = { id: id, producto_id: idproducto, cantidad: cantidad_i }
        $.ajax({
          url: request_url,
          type: 'POST',
          data: JSON.stringify(info),
          contentType: 'application/json; charset=utf-8',
          success: function(result){
            if (result != null ){
              let cantidad = result.cantidad;
              let nombre_p = result.nombre_producto;
              let id_p = result.producto_id;
              let nuevaFila = "<tr><td>"+nombre_p+"</td><td>"+cantidad+"</td></tr>";
              $("#tabla_requesicion tbody").append(nuevaFila);
              cleared();
            }
          }
        });
      }

      function cleared(){
        document.getElementById('buscador_productos').value='';
        $("#tabla_buscador tbody").empty();
        $("#tabla_buscador tbody").append("<tr><td colspan='3'>¿Qué producto quiere buscar?</td></tr>");
      }

      function update(event){
        console.log(event.target.id + ": " + event.target.value)
        if (event.target.value != ''){
          let requeid = $("#requesicion_prioridad").data("model");
          if (event.target.id == "requesicion_prioridad") {
            info = { prioridad: event.target.value }
          }
          if (event.target.id == "requesicion_fecha_entrega") {
            let requeid = $("#requesicion_fecha_entrega").data("model");
            info = { fecha_entrega: event.target.value }
          }
          data = JSON.stringify(info);
          let request_url = window.location.origin + "/requesicions/" + requeid
          var xhtr = new XMLHttpRequest();
          xhtr.open("PATCH", request_url);
          xhtr.setRequestHeader("Accept", "application/json");
          xhtr.setRequestHeader("Content-Type", "application/json");

          xhtr.onreadystatechange = function () {
            if (xhtr.readyState === 4) {
              console.log(xhtr.status);
              console.log(xhtr.responseText);
          }};
          xhtr.send(data);
        }
      }

      function throttle(fn, threshold, scope) {
        threshold || (threshhold = 250);
        var last,
            deferTimer;
        return function () {
          var context = scope || this;

          var now = +new Date,
              args = arguments;
          if (last && now < last + threshold) {
            clearTimeout(deferTimer);
            deferTimer = setTimeout(function () {
              last = now;
              fn.apply(context, args);
            }, threshold);
          } else {
            last = now;
            fn.apply(context, args);
          }
        };
      }
    </script>
    <br>
    <%= link_to "Finalizar", requesicions_path, class: 'btn btn-success'%>
  <% end %>
</div>