<div class="container">
  <%= form_with(model: requesicion) do |form| %>
    <% if requesicion.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(requesicion.errors.count, "error") %> prohibited this requisicion from being saved:</h2>

        <ul>
          <% requesicion.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      
    </div>

    <div>
      <%= form.label 'Prioridad:'%>
      <%= form.select :prioridad, ['Baja','Media','Alta'], class: "form-control" %> | 
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="buscador-producto" >
        Agregar Productos
      </button>
    </div>

    <div>
      <%= form.label 'Fecha de entrega:'%>
      <%= form.date_field (:fecha_entrega), class: "form-control" %>
    </div>

    <br>

    <div class="table-responsive">
      <table class="table table-bordered" id="tabla-requesicion" width="90%" cellspacing="0">
        <colgroup>
          <col span="1" style="width: 80%;">
          <col span="1" style="width: 20%;">
        </colgroup>
        <thead>
          <th>Producto</th>
          <th>Cantidad</th>
        </thead>
        <tbody>
          
          <tr>
            <td colspan="2">No hay productos registrados</td>
          </tr>
          
        </tbody>
      </table>
    </div>

    <br>
    <%= link_to "Finalizar", requesicions_path, class: 'btn btn-success'%>
    <%= link_to "Cancelar", @requesicion, method: :delete, data: { confirm: "¿Cancelar requisición?" }, class: "btn btn-danger"%>
  <% end %>
</div>