<p style="color: green"><%= notice %></p>
  <div class="card-header d-flex justify-content-between align-items-center">
    <h1 class="text text-secondary">Seguimiento de requisici贸n</h1>
  </div>

<%= render @requesicion %>

<div>
  <%= link_to "Regresar", requesicions_path, class: "btn btn-secondary" %>
  <% if @requesicion.estado == 'Pendiente' %>
    <% if can? :observacion, Requesicion %>
      <%= content_tag :li, :class => 'btn btn-warning' do %>
        <%= link_to "Observaci贸n", :action => "observacion", :requesicion => @requesicion %>
      <% end %>
    <% end %>
    <% if can? :update, Requesicion %>
      <%= link_to "Editar requisici贸n", edit_requesicion_path(@requesicion), class: "btn btn-success" %>
    <% end %>
    <% if can? :destroy, Requesicion %>
      <%= link_to "Cancelar requisici贸n", @requesicion, method: :delete, class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>