<p style="color: green"><%= notice %></p>

<%= render @producto %>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <%= button_to "â® Regresar", productos_path,:class=>"btn btn-secondary" %>
    <% if can? :update, Producto %>
    <%= button_to image_tag("editar"), edit_producto_path(@producto),:method=>:get, :class=>"btn " ,id:"btn-edit" ,:title=>"Editar"%>
    <%end%>
    <% if can? :destroy, Producto %>
    <%= button_to image_tag("trash"), @producto, method: :delete ,:class=>"btn " ,id:"btn-ver" ,:title=>"Eliminar" %>
    <%end%>
  </div>
</div>
