<p style="color: green"><%= notice %></p>
<div class="card-header d-flex justify-content-between align-items-center">
<h1>Roles</h1>
<%if can? :create, Rol %>
  <%= link_to "Nuevo Rol" , new_rol_path,  class:"btn btn-primary btn-sm  " %>
<%end%>
</div>
<br>



<table id="rolesTabla" class="table table-striped table-responsive table-bordered table-sm">
  <thead>
    <tr>
      
      <th>Rol</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |rol| %>
    <tr>
      <td>
        <strong><%=  rol.rol %></strong>
      </td>
      <td>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <%if can? :update, Rol %>
                <%= button_to image_tag("ojo",width:25,height:25), rol,method: :get, :class=>"btn " ,id:"btn-ver" , :title=>"Ver" %>
            <%end%>
            <%if can? :delete, Rol %>
                <%= button_to image_tag("trash"), rol, method: :delete ,:class=>"btn " ,id:"btn-ver" ,:title=>"Eliminar" %>
            <%end%>
          </div>
        </div>
      </td>


    </tr>
    <%end %>

  </tbody>
</table>